@using TotaraPhotographyAssociation.Models
@model List<Product>

@{
    ViewBag.Title = "New Cameras";
    //var urlHelper = new UrlHelper(htmlHelper.ViewContext.RequestContext);
}

<div class="col-md-12">

    <div class="row products">

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var c in Model)
            {

                <div class="col-md-3 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="@Url.Action("Detail", "NewProduct", new { prdId = c.Id })">
                                        <img src="~/Images/@c.PhotoFilePath" alt="" class="img-responsive">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/Images/@c.PhotoFilePath" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="@Url.Action("Detail", "NewProduct", new { prdId = c.Id })">@c.Name</a></h3>
                            <p class="price">@c.Price.ToString("c")</p>
                            <div class="buttons" style="margin-bottom: 20px">
                                <a href="@Url.Action("Detail", "NewProduct", new { prdId = c.Id })" class="btn btn-default">View detail</a>
@if (@User.Identity.IsUserInFullOrAssociate())
{
                                using (
Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { style = "display:inline;" })
)
                                {
                                    <input type="hidden" name="prdId" value="@c.Id" />
                                    <input type="hidden" name="rtnUrl" value="@Request.Url.PathAndQuery" />
                                    <a href="javascript:void(0);" onclick="addToCart(this)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                }
}

                            </div>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>



            }
        }







    </div>
    <!-- /.products -->



</div>
<!-- /.col-md-9 -->



<script>
    function addToCart(prd) {
        prd.parentNode.submit();
    }
</script>